{% extends 'base.html' %}

{% block heading %}TODO{% endblock %}

{% block body %}

    <table>
    {% for todo in todos %}

        {% if todo.completed %}
            <tr>
                <th>Task</th>
                <th>Status</th>
                <th>Delete</th>
            </tr>
            <tr>    
                <td><a href = "{{ url_for('update', id = todo.id) }}">{{ todo.title }}</a></td>
                <td><a href ="{{ url_for('uncross', id = todo.id) }}" >Uncross</a></td>
                <td><a href = "{{ url_for('delete', id = todo.id) }}">Delete</a></td>
            </tr>    

        {% else %}
        <tr>    
            <td><a href = "{{ url_for('update', id = todo.id) }}">{{ todo.title }}</a></td>
            <td><a href ="{{ url_for('crossoff', id = todo.id) }}" >Cross Off</a></td>
            <td><a href = "{{ url_for('delete', id = todo.id) }}">Delete</a></td>
        </tr>
        {% endif %}
    </table>        
    {% endfor %}
    <form  action = "{{ url_for('add') }}" method = "POST">
        <input name = "title" type = "text" placeholder = "task">
        <button type = "submit">add task</button>
    </form>
{% endblock %}
